@model assignment.Models.Table_1

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Table_1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cars)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cars)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.companyname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companyname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Carid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
